body {
  margin: 0;
  font-family: Roboto;
}

.u-FullWidth {
  width: 100%;
}

.u-Ellipsized {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.u-HiddenXs {
  @media (max-width: 599px) {
    display: none !important;
  }
}

.u-HiddenNotXs {
  @media (min-width: 600px) {
    display: none !important;
  }
}
