body {
  margin: 0;
  font-family: Roboto;
}

.u-full-width {
  width: 100%;
}

.u-ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.display-none-xs {
  @media (max-width: 599px) {
    display: none !important;
  }
}

.display-none-sm {
  @media (min-width: 600px) {
    display: none !important;
  }
}
