body {
  margin: 0;
  font-family: Roboto;
}

.u-fullWidth {
  width: 100%;
}

.u-ellipsized {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.u-hiddenXs {
  @media (max-width: 599px) {
    display: none !important;
  }
}

.u-hiddenNotXs {
  @media (min-width: 600px) {
    display: none !important;
  }
}
